In [3]:
import pandas as pd

In [4]:
df = pd.read_parquet('students_pageviews_2021-01-01.parquet.gzip', engine='pyarrow')

In [5]:
df.head()

,user_id,publisher_id,portal_id,time_engaged_in_s,is_paywall,article_drive_id,page_view_start_local
0,037a7b33-a2ff-48d8-994a-0d40e9a3818e,publisher_9,portal_17,0,True,0008fe636288816eba31f2b3a0eb6b1f,2021-01-01 20:14:56.077
1,d4702b2d-2c11-45c2-b5c6-fa3ce639a1d2,publisher_9,portal_17,0,False,003b778fef8a2e77f26b3da33df56f27,2021-01-01 19:54:45.000
2,d4702b2d-2c11-45c2-b5c6-fa3ce639a1d2,publisher_9,portal_17,0,False,003b778fef8a2e77f26b3da33df56f27,2021-01-01 09:53:43.506
3,39b51105-c3e5-4e8b-ade1-4680f7998fc1,publisher_10,portal_31,0,False,004d6a80da94111651e44b64797b6db8,2021-01-01 12:47:58.946
4,e2e0e78b-6d6c-46bb-8d9d-464992f45d5e,publisher_10,portal_31,0,False,004d6a80da94111651e44b64797b6db8,2021-01-01 17:29:48.745

In [6]:
df.shape

(398821, 7)

In [7]:
sa = pd.read_parquet('students_articles.parquet.gzip', engine='pyarrow')

In [8]:
sa.head()

,publisher_id,article_drive_id,article_full_text
0,publisher_2,bae492f2fb1439c750c2068b7b03f6ee,Genussmesse\n\n360 Aussteller kommen zur Plaza...
1,publisher_8,e082fa73cca6e5ba8970490fe3f83d65,Inselleuchten – so schön war das Comeback in M...
2,publisher_2,0f2395f9042ab9884b16d467e160561e,\n\nAbschied der Pfarrerin Beate Schmidtgen\n\...
3,publisher_1,ed7a0f64d43cf0b495ed1ae8f9498dd5,Was vom Kind im Stall erzählt wird\n\nDie Heil...
4,publisher_10,14f07c438dbf9c9813a59a3c98027bd8,Mischung aus Volleyball und Tischtennis\n\nEx-...

In [9]:
sa.shape

(1306862, 3)

In [10]:
url = pd.read_parquet('students_url_pieces.parquet.gzip', engine='pyarrow')

In [11]:
url.shape

(3933088, 4)

In [12]:
url.head()

,path,url_ebene_1,url_ebene_2,url_ebene_3
0,/$$$IWSX_INTERNAL_REQUEST$$$/command/ask_allow,url_ebene_1_2,url_ebene_2_131962,None
1,/%20%20party-vorschau/unser-publikum-ist-inter...,url_ebene_1_4,None,None
2,/%20+/-%20vorteil,url_ebene_1_5,None,None
3,/%20/deutschland-1/zehn-jahre-nach-dem-tod-von...,url_ebene_1_3,url_ebene_2_146688,None
4,/%20/herzberg,url_ebene_1_3,url_ebene_2_187303,None